<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="testng"	parallel="none"	thread-count="0">
<!-- Suite -->
	<listeners>
		<listener class-name="main.common.CustomReport"/>
	</listeners>
<test name="smoke">
<!-- Test -->
	<classes>
		<class name="smoketest.TC_002"/>
	</classes>
</test>
</suite>